
.pic-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}
 


article{
    margin-top: 140px;
}





